<h2>Contacto</h2>
<h4>Actualización de Formulario</h4>

<div class="sidebar">
    <h3>Formulario de contacto</h3>
    <form>
      <label for="name">Nombre:</label>
      <input type="text" id="name" [(ngModel)]="contacto.nombre" name="name" required>
      <label for="email">Email:</label>
      <input type="email" id="email" [(ngModel)]="contacto.email" name="email" required>
      <label for="message">Mensaje:</label>
      <textarea id="message" [(ngModel)]="contacto.mensaje" name="message" required></textarea>
      <br>
      <button (click)="actualizar()" type="button">Actualizar</button>
    </form>
  </div>
  